*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-transform: uppercase;
}

body{
    background-color: #a9b5df62;
}

.all-content-options{
    padding: 10px;
    text-align: center;
    margin-top: 40vh;
    margin-left: 24vw;
    height: 20vh;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.692);
    background-color: #2D336B;
    color: white;
    border-radius: 10px;
}

.all-content-options button {
    margin-right: 2vw;
    padding: 20px 20px;
    color: rgba(0, 0, 0, 0.568);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.692);
    border: none;
    margin-top: 2vh;
    border-radius: 10px;
}

.all-content-options button:hover{
    cursor: pointer;
    scale: 0.95;
    background-color: #A9B5DF;
}

@media (max-width:480px ){
    .all-content-options{
    padding: 10px;
    text-align: center;
    margin-top: 40vh;
    margin-left: 24vw;
    height: 20vh;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.692);
    color: white;
    border-radius: 10px;
    font-size: 10px;
}
    
}
@media (min-width:481px) and (max-width:600px){
    .all-content-options{
    padding: 10px;
    text-align: center;
    margin-top: 40vh;
    margin-left: 24vw;
    height: 20vh;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.692);
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

    
}
@media (min-width:601px) and (max-width:768px){
    .all-content-options{
    padding: 10px;
    text-align: center;
    margin-top: 40vh;
    margin-left: 24vw;
    height: 20vh;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.692);
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

    
}
@media (min-width:769px) and (max-width:991px){
    .all-content-options{
    padding: 10px;
    text-align: center;
    margin-top: 40vh;
    margin-left: 24vw;
    height: 20vh;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.692);
    color: white;
    border-radius: 10px;
    font-size: 10px;
}
@media (min-width:992px) and (max-width:1199px){
    .all-content-options{
    padding: 10px;
    text-align: center;
    margin-top: 40vh;
    margin-left: 24vw;
    height: 20vh;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.692);
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

    
}
    
}
@media (min-width:1200px){
    .all-content-options{
    padding: 10px;
    text-align: center;
    margin-top: 40vh;
    margin-left: 24vw;
    height: 20vh;
    width: 50%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.692);
    color: white;
    border-radius: 10px;
    font-size: 10px;
}

    
}