.all-barbers-content{
    width: 94.8vw;
    height: 95vh;
    position: absolute;
    left: 5rem;
    top: 2.3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: -1;
    justify-content: center;
    color: #2D336B;

}

.all-barbers-content ul{
    margin-top: 1rem;
    width: 30vw;
}

.barber-availability {
    margin-top: 2rem;
}
.barber-availability ul{
    display: flex;
    gap: 10px;
    padding: 5px 10px;
    width: 50vw;
    justify-content: space-evenly;

}

.barber-availability li{
    height: 5vh;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: 0px 2px 4px #2D336B;

}

.barber-availability li:last-child{
    border-right: none;
}

.select-current-day-barbers{
    margin-top: -10rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 10px;
}

.select-current-day-barbers button{
    padding: 5px 20px;
  border-radius: 10px;
  border: none;
  background-color: #2D336B;
  box-shadow: 0px 2px 4px #2D336B;
  color: white;
}
.select-current-day-barbers button:hover{
   cursor: pointer;
   scale: 0.95;
   background-color: #7886C7;
}

.select-current-day-barbers input{
    padding: 5px 20px;
    border: none;
    font-size: 20px;
    color: #2D336B;
    background-color: transparent;
}